# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# SQLite DB and app data
*.db
*.sqlite3
.data/

# Local configs
.env
.env.*

# IDE/editor junk
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
logs/
